:root{
    --purple: #4C2D73;
    --yellow: #83a136;
    --brown: #AA8939;
    --font-one: 'Mountains of Christmas', cursive;
    --font-two:  'Indie Flower', cursive;
    --font-three: 'Poppins', sans-serif; 


}